<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888943185574-7kcv95nl8qg94j30t6sgdsgqnijr2fmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888943185574-7kcv95nl8qg94j30t6sgdsgqnijr2fmp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>888943185574-a4bcpsu6nrsu0rc0hffoc13mrb153fcu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATj-nUJWeAH8iSNDxNVwPX4gDQV9fsw2U</string>
	<key>GCM_SENDER_ID</key>
	<string>888943185574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quaily</string>
	<key>PROJECT_ID</key>
	<string>quaily</string>
	<key>STORAGE_BUCKET</key>
	<string>quaily.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888943185574:ios:2ab7d381a0db404134ae67</string>
</dict>
</plist>